<header th:fragment="header">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <button id="botonTema" class="btn rounded-fill"><i id="dl-icon" class="bi bi-moon-fill"></i></button>
            <a class="navbar-brand" href="/">Grupo Piñhero</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Entidades
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" th:href="@{/entidadBase}">Todos</a></li>
                            <li><a class="dropdown-item" th:href="@{/entidadBase/clientes}">Clientes</a></li>
                            <li><a class="dropdown-item" th:href="@{/entidadBase/proveedores}">Proveedores</a></li>
                            <li><a class="dropdown-item" th:href="@{/entidadBase/empleados}">Empleados</a></li>
                            <li><a class="dropdown-item" th:href="@{/entidadBase/vendedores}">Vendedores</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Operaciones
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" th:href="@{/compras}">Compras</a></li>
                            <li><a class="dropdown-item" th:href="@{/ventas}">Ventas</a></li>
                            <li><a class="dropdown-item" th:href="@{/pago}">Pagos</a></li>
                            <li><a class="dropdown-item" th:href="@{/cobros}">Cobros</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Parametros Generales
                        </a>
                        <ul class="dropdown-menu multi-level" role="menu">
                            <li><a class="dropdown-item" th:href="@{/tipoIva}">IVA</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" th:href="@{/tipoEmpleado}">Tipo Empleado</a></li>
                            <li><a class="dropdown-item" th:href="@{/puesto}">Puesto Empleado</a></li>
                            <li><a class="dropdown-item" th:href="@{/sector}">Sector</a></li>
                            <li><a class="dropdown-item" th:href="@{/turno}">Turno</a></li>
                            <li><a class="dropdown-item" th:href="@{/departamento}">Departamento</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" th:href="@{/moneda}">Moneda</a></li>
                            <li><a class="dropdown-item" th:href="@{/tipoDePago}">Tipo de Pago</a></li>
                            <li><a class="dropdown-item" th:href="@{/formaDePago}">Forma de Pago</a></li>
                            <li><a class="dropdown-item" th:href="@{/tipoOperacion}">Tipo Operacion</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" th:href="@{/tipoCuentaBanco}">Tipo Cuenta/Banco</a></li>
                            <li><a class="dropdown-item" th:href="@{/ctaBcoTja}">Cuentas Banco/Tarjeta</a></li>
                            <li><a class="dropdown-item" th:href="@{/bancoEmisor}">Bancos Emisores de Cheques</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" th:href="@{/tipoTot}">Tipo Totalizadora</a></li>
                            <li><a class="dropdown-item" th:href="@{/ctaTot}">Cuentas Totalizadoras</a></li>
                            <li><a class="dropdown-item" th:href="@{/impuestosCta}">Alta Impuestos</a></li>
                            <li><a class="dropdown-item" th:href="@{/clasificacionCta}">Clasificacion Ctas Cont</a></li>
                            <li><a class="dropdown-item" th:href="@{/cuentas}">Cuentas Contables</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" th:href="@{/tipoProducto}">Tipo Producto</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" th:href="@{/tipoComprobante}">Tipo Comprobante</a></li>
                            <li><a class="dropdown-item" th:href="@{/talonario}">Talonarios</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" th:href="@{/estadoLote}">Estados Lotes</a></li>

                        </ul>
                    </li>
                    <a class="nav-link" th:href="@{/producto}">Productos</a>
                    <a class="nav-link" th:href="@{/urbanizacion}">Urbanizaciones</a>
                    <a class="nav-link" th:href="@{/manzana}">Manzanas</a>
                    <a class="nav-link" th:href="@{/lote}">Lotes</a>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Creditos
                        </a>
                        <ul class="dropdown-menu multi-level" role="menu">
                            <li><a class="dropdown-item" th:href="@{/credito}">Lista de Creditos</a></li>
                            <li><a class="dropdown-item" th:href="@{/planPago}">Plan de Pagos</a></li>
                            <li><a class="dropdown-item" th:href="@{/indiceCac}">Indice Cac</a></li>
                        </ul>
                    </li>
                    <a class="nav-link" th:href="@{/comision}">Comisiones</a>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Cheques
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" th:href="@{/cheque}">En cartera</a></li>
                            <li><a class="dropdown-item" th:href="@{/tipoCheque}">Categorias</a></li>
                            <li><a class="dropdown-item" th:href="@{/tipoSubcheque}">Subcategorias</a></li>
                        </ul>
                    </li>
                    <a class="nav-link" th:href="@{/errores}">Errores / Recomend</a>
                </ul>
            </div>
        </div>
    </nav>
</header>