<html lang="es" xmlns:th="http://www.thymeleaf.org">
<div class="row" th:fragment="navigator">
    <div class="col md-2"></div>
    <div class="col md-8">
        <nav aria-label="Pagination">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${prev == 0 ? 'disabled' : ''}">
                    <a class="page-link" th:href="@{|/${object}?page=${prev}|}">Anterior</a>
                </li>
                <li class="page-item" th:each="page : ${pages}" th:classappend="${current == page ? 'active' : ''}">
                    <a class="page-link" th:href="@{|/${object}?page=${page}|}" th:text="${page}"></a>
                </li>
                <li class="page-item" th:classappend="${current == last ? 'disabled' : ''}">
                    <a class="page-link" th:href="@{|/${object}?page=${next}|}">Proxima</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col md-2"></div>
</div>
</html>