.form-subentidad{
    display: flex;
}

.formCli input {
    width: 40%;
    margin-right: 20%;
}

.formProv input {
    width: 40%;
    margin-right: 20%;
}

.btn{
    margin-right: 3%;
    height: 35px;
}
