.form-subentidad{
    display: flex;
}

.formCli input {
    width: 40%;
    margin-right: 20%;
}

.formProv input {
    width: 40%;
    margin-right: 20%;
}

.btn{
    margin-right: 10px;
    height: 35px;
}

.subentidad{
    display: flex;
}

.lblSubentidad{
    margin-top: 5px;
    margin-right: 10px;
}

.inputSubentidad{
    width: 25%;
}


.btnSubentidad{
    margin-top: 2px;
    margin-left: 15px;
}

#impuestos{
    height: 150px;
}

#comprobante{
    display: flex;
}

#talonario{
    width: 40%
}


#comandos {
    position: absolute;
    top: 10%;
    left: 74%;
    width: 100px;
}

.btn-outline-success {
    position: relative;
    top: 47%;
    margin-left: 10px;
}

.detalleDescuento{
 width: 10%;
}

.boton-crear{
    position: absolute;
    right: 20%;
    top: 15%;
}

.boton-alta-producto {
        position: absolute;
        top: 15%;
        height: 35px;
        width: 100px;
        right: calc(20% + 100px);
        font-size: x-small;
        display: flex;
        justify-content: center;
        flex-direction: column;
}

.btnGeneradorLotes {
    position: absolute;
    top: 15%;
    height: 35px;
    width: 100px;
    right: calc(20% + 310px);
    font-size: x-small;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.btnVerMapa {
    position: absolute;
    top: 15%;
    height: 35px;
    width: 100px;
    right: calc(20% + 205px);
}

.formaPago{
    position: fixed;
    width: 200px;
    left: 86%;
    bottom: 8%;
}

.celdaOculta{
    display: none;
}

#cajaTotal{
    position: fixed;
    width: 200px;
    left: 86%;
    bottom: 2%;
    display: flex;
    align-items: baseline;
    background-color: var(--bs-secondary-bg);
}

.inputTotal{
    background-color: var(--bs-secondary-bg);
    border: none;
}

#cuentaImp{
    display:none;
}

.formPlanPago{
    display: flex;
    justify-content: space-around;
}

.divPlanPago{
    display: flex;
    gap: 10px;
}

.creditoOperacion #idOperacion #idOperacionNew{
    width: 20%;
    gap: 10px;
}

.theadFijo{
    position: sticky;
    top: 0;
    z-index: 1;
}

#divLinkMapa{
    display: none;
}

.celdaImpuesto{
    width: 150px;
}

.verDetallePago{
    background-color : darkgray;
}

.sinBorde{
    border: none;
}

.modal-container{
    position: relative;
    width: 165px;
}

.modal-container img{
    position:relative;
    width: 30%;
}

.modal-container.active{
    position: fixed;
    width: 100vw;
    heigth: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    top:0;
    left:0;
    overflow-y:scroll;
    }

.modal-container img{
    z-index: 1;
}

.modal-container.active::after{
    content: "";
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color:rgba(0,0,0,0.7);
    z-index:0;
}

