.form-subentidad{
    display: flex;
}

.formCli input {
    width: 40%;
    margin-right: 20%;
}

.formProv input {
    width: 40%;
    margin-right: 20%;
}

.btn{
    margin-right: 3%;
    height: 35px;
}

.subentidad{
    display: flex;
}

.lblSubentidad{
    margin-top: 5px;
    margin-right: 10px;
}

.inputSubentidad{
    width: 25%;
}


.btnSubentidad{
    margin-top: 2px;
    margin-left: 15px;
}

#impuestos{
    height: 150px;
}

#comprobante{
    display: flex;
}

#talonario{
    width: 40%
}


#btnAlta {
    position: absolute;
    top: 10%;
    left: 80%;
    width: 100px;
    height: 35px;
}

#divDetalle {
    background-color: antiquewhite;
    margin-top: 15px;
    height: 300px;
}


.btn-outline-success {
    position: relative;
    top: 47%;
    margin-left: 10px;
}

.detalleDescuento{
 width: 10%;
}

.boton-crear{
    position: absolute;
    right: 15%;
    top: 15%;
}

.boton-alta-producto {
    position: absolute;
        top: 15%;
        height: 35px;
        width: 100px;
        right: calc(15% + 100px);
        font-size: x-small;
        display: flex;
        justify-content: center;
        flex-direction: column;
}