<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Grupo Piñhero</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body>

<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Grupo Piñhero</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" th:href="@{/entidadBase}">Entidades</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Operaciones
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Compras</a></li>
              <li><a class="dropdown-item" href="#">Ventas</a></li>
              <li><a class="dropdown-item" href="#">Pagos</a></li>
              <li><a class="dropdown-item" href="#">Cobros</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Parametros Generales
            </a>
            <ul class="dropdown-menu multi-level" role="menu">
              <li><a class="dropdown-item" th:href="@{/tipoIva}">IVA</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" th:href="@{/tipoEmpleado}">Tipo Empleado</a></li>
              <li><a class="dropdown-item" th:href="@{/puesto}">Puesto Empleado</a></li>
              <li><a class="dropdown-item" th:href="@{/sector}">Sector</a></li>
              <li><a class="dropdown-item" th:href="@{/turno}">Turno</a></li>
              <li><a class="dropdown-item" th:href="@{/departamento}">Departamento</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" th:href="@{/moneda}">Moneda</a></li>
              <li><a class="dropdown-item" th:href="@{/tipoDePago}">Tipo de Pago</a></li>
              <li><a class="dropdown-item" th:href="@{/formaDePago}">Forma de Pago</a></li>
              <li><a class="dropdown-item" th:href="@{/tipoOperacion}">Tipo Operacion</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" th:href="@{/tipoCuentaBanco}">Tipo Cuenta/Banco</a></li>
              <li><a class="dropdown-item" th:href="@{/ctaBcoTja}">Cuentas Banco/Tarjeta</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" th:href="@{/tipoTot}">Tipo Totalizadora</a></li>
              <li><a class="dropdown-item" th:href="@{/ctaTot}">Cuentas Totalizadoras</a></li>
              <li><a class="dropdown-item" th:href="@{/impuestosCta}">Alta Impuestos</a></li>
              <li><a class="dropdown-item" th:href="@{/clasificacionCta}">Clasificacion Ctas Cont</a></li>
              <li><a class="dropdown-item" th:href="@{/cuentas}">Cuentas Contables</a></li>


            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<main>
  <div class="container">
    <div class="row mt-4">
      <h1>Carga de Tipos de Operaciones</h1>
      <div class="col-6">


        <form th:action="@{/tipoOperacion/__${action}__}" th:object="${tipoOperacion}" method="post" autocomplete="off">
          <input type="hidden" th:field="*{id}">
          <div class="form-floating mb-3">
            <input type="text" id="descripcion" th:field="*{descripcion}" class="form-control" required>
            <label for="descripcion">Descripcion</label>
            <div class="invalid-feedback">La descripcion es requerida</div>
          </div>

          <button th:text="${action == 'create' ? 'Crear' : 'Actualizar'}" type="submit" class="btn btn-primary"></button>
        </form>

      </div>
      <div class="col-6">
        <table class="table table-hover table-bordered">
          <thead>
          <tr class="table-dark">
            <th>Id</th>
            <th>Descripcion</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="top : ${listaOperaciones}">
            <td th:text="${top.id}"></td>
            <td th:text="${top.descripcion}"></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>