<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Grupo Piñhero</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" th:href="@{/css/estiloFormEntidad.css}">
</head>
<body>

<header th:replace="~{Fragments/header :: header}"></header>

<main>

    <div th:if="${exception}" th:text="${exception}" class="alert alert-danger" role="alert"></div>

    <div class="container mb-3">
        <div class="row mt-4">
            <div class="col mb-2">
                <h1>Ingreso de Cheques</h1>
                <form class="row g-3 needs-validation" th:action="@{/cheque/__${action}__}" th:object="${cheque}"
                      method="post" autocomplete="off">
                        <input id="id" type="hidden" th:field="*{id}">

                <div class="row mt-5">
                    <h4>Datos del Cheque</h4>

                    <div class="col-md-2">
                        <label for="fechaEmision" class="form-label">Fecha Emision: </label>
                        <input id="fechaEmision" type="date" class="form-control" name="fechaEmision" th:value="${fechaEmision}">
                    </div>

                    <div class="col-md-4 d-flex gap-2">
                        <div class="col-2">
                            <label for="serie" class="form-label">Serie: </label>
                            <input type="text" id="serie" class="form-control" th:field="*{serie}">
                        </div>
                        <div class="col-10">
                            <label for="nroCheque" class="form-label">Nro Cheque: </label>
                            <input type="text" id="nroCheque" class="form-control" th:field="*{nroCheque}">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <label for="tipoCheque" class="form-label">Tipo: </label>
                        <select th:field="*{chequeTipo}" id="tipoCheque" class="form-select" required>
                            <option selected value="">Seleccione tipo</option>
                            <option th:each="xxx : ${listaTipoCheque}" th:text="${xxx.descripcion}"
                                    th:value="${xxx.id}"></option>
                        </select>
                    </div>

                    <div class="col-md-3">
                        <label for="chequeSubtipo" class="form-label">Subtipo: </label>
                        <select th:field="*{chequeSubtipo}" id="chequeSubtipo" class="form-select" required>
                            <option selected value="">Seleccione subtipo</option>
                        </select>
                    </div>
                </div>

                    <div class="row mt-3">
                        <div class="col-md-2">
                            <label for="fechaPago" class="form-label">Fecha Pago: </label>
                            <input id="fechaPago" type="date" class="form-control" name="fechaPago" th:value="${fechaPago}">
                        </div>

                        <div class="col-md-3">
                            <label for="bancoEmisor" class="form-label">Banco Emisor: </label>
                            <select th:field="*{bancoEmisor}" id="bancoEmisor" class="form-select" required>
                                <option selected value="">Seleccione subtipo</option>
                                <option th:each="xxx : ${listaBancos}" th:value="${xxx.id}" th:text="${xxx.descripcion}"></option>
                            </select>
                        </div>
                        <div class="col-2">
                            <label for="nroIdentificacion" class="form-label">Nro Identificacion: </label>
                            <input type="text" id="nroIdentificacion" class="form-control" th:field="*{nroIdentificacion}">
                        </div>
                        <div class="col-5">
                            <label for="titularDeLaCuenta" class="form-label">Titular Cta: </label>
                            <input type="text" id="titularDeLaCuenta" class="form-control" th:field="*{titularDeLaCuenta}">
                        </div>
                        <div class="col-6 mt-2">
                            <label for="ciudad" class="form-label">Ciudad: </label>
                            <input type="text" id="ciudad" class="form-control" th:field="*{ciudad}">
                        </div>
                        <div class="col-6 mt-2">
                            <label for="provincia" class="form-label">Provincia: </label>
                            <input type="text" id="provincia" class="form-control" th:field="*{provincia}">
                        </div>
                    </div>

                    <div class="row mt-3 d-flex">
                        <h4>Datos del Emisor/Endosador</h4>

                        <div class="col-md-2">
                            <label for="fechaRecepcion" class="form-label">Fecha Recepcion: </label>
                            <input id="fechaRecepcion" type="date" class="form-control" name="fechaRecepcion" th:value="${fechaRecepcion}">
                        </div>

                        <div class="col-md-2">
                            <label for="operacionIngreso" class="form-label">Tipo Operacion: </label>
                            <select th:field="*{operacionIngreso}" id="operacionIngreso" class="form-select" aria-label="Seleccionar tipo operacion"
                                    required>
                                <option selected value="">Seleccione tipo</option>
                                <option th:each="xxx : ${listaTipoOperacion}" th:text="${xxx.descripcion}"
                                        th:value="${xxx.id}"></option>
                            </select>
                        </div>

                        <div class="col-md-2">
                            <label for="idOperacion" class="form-label">ID Operacion: </label>
                            <input id="idOperacion" type="number" class="form-control" name="idOperacion" th:field="*{idOperacion}">
                        </div>

                        <div class="col-md-6">
                            <label for="detalle" class="form-label">Detalle Ingreso: </label>
                            <input id="detalle" type="text" class="form-control" name="detalle">
                        </div>

                        <div class="col-md-2 form-check form-switch d-flex justify-content-center align-items-center">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" th:field="*{esTitular}" checked>
                            <label class="form-check-label" for="flexSwitchCheckChecked">Es Titular</label>
                        </div>

                        <div class="col-md-4 mt-2">
                            <label for="nombreEmisor" class="form-label">Emisor: </label>
                            <select th:field="*{nombreEmisor}" id="nombreEmisor" class="form-select" aria-label="Seleccionar entidad"
                                    required>
                                <option selected value="">Seleccione entidad</option>
                                <option th:each="xxx : ${listaEntidadBase}" th:text="${xxx.razonSocial}"
                                        th:value="${xxx.id}"></option>
                            </select>
                        </div>

                        <div class="col-md-6 mt-2">
                            <label for="importe" class="form-label">Importe Cheque: </label>
                            <input id="importe" type="number" step="0.01" class="form-control" name="importe" th:field="*{importe}">
                        </div>

                    </div>





                    <div id="comandos" class="d-flex">
                        <button th:text="${action == 'create' ? 'Crear' : 'Guardar'}" type="submit" id="btnAlta"
                                class="btn btn-primary"></button>

                        <a class="btn btn-secondary" id="cerrar">Cerrar</a>
                    </div>



                </form>
            </div>
        </div>
    </div>

</main>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
<script th:src="@{/js/cambiarTema.js}"></script>
<script th:src="@{/js/form-cheque.js}"></script>
</body>
</html>