<!DOCTYPE html>
<html>
<head>
    <!-- Enlace al archivo CSS de Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <style>
    /* Estilos adicionales opcionales */
  </style>
</head>
<body>
<div class="container mt-5">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#tab1">Tab 1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tab2">Tab 2</a>
        </li>
    </ul>

    <div class="tab-content mt-2">
        <div id="tab1" class="tab-pane fade show active">
            <h3>Contenido de la pestaña 1</h3>
            <!-- Aquí puedes agregar el contenido deseado para la pestaña 1 -->
        </div>
        <div id="tab2" class="tab-pane fade">
            <h3>Contenido de la pestaña 2</h3>
            <!-- Aquí puedes agregar el contenido deseado para la pestaña 2 -->
        </div>
    </div>
</div>

<!-- Incluir el archivo JS de Bootstrap (jQuery requerido) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
